* {
    box-sizing: border-box;
    user-select: none;
}

body {
    display: grid;
    place-items: center;
    height: 100dvh;
    margin: 0;
    background: radial-gradient(circle at top right, #2d4e64, transparent 75%), radial-gradient(circle at left, #2d4e64, transparent 50%), #0a1217;
    color: white;
    font-family: 'Geologica', sans-serif;
    perspective: 800px;
    overflow: hidden;
}

body > * {
    grid-area: 1 / 1;
}

h1 {
    font-family: 'Lora', serif;
    text-shadow: 0px 5px 5px black;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 25px;
    border: 7px solid;
    border-top-color: rgba(200, 200, 200, 0.15);
    border-left-color: rgba(200, 200, 200, 0.15);
    border-bottom-color: rgba(15, 15, 15, 0.25);
    border-right-color: rgba(15, 15, 15, 0.25);
    background: url("images/scratches.jpg") center / 300px 300px, linear-gradient(to bottom, rgb(50, 50, 50), rgb(25, 25, 25));
    background-blend-mode: overlay;
    background-origin: border-box;
    background-clip: border-box;
    transform-origin: center center -200px;
    backface-visibility: hidden;

    & img {
        max-width: calc(100dvw - 50px);
        max-height: calc(100dvh - 300px);
    }

    & > h1 {
        margin: 0;
        padding-bottom: 30px;
        padding-top: 10px;
        text-align: center;
    }

    & video, & img {
        width: 100%;
    }

    & div.title {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        
        & h1 {
            flex-grow: 1;
            text-align: center;
            margin: 0;
        }
    }
    
    & video.titleSticker {
        height: 60px;
        width: auto;
    }
}

button {
    background: rgb(75, 75, 75);
    border: 1px solid rgb(100, 100, 100);
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.5), 0px 0px 5px 0 rgb(100, 100, 100) inset;
    color: white;
    padding: 10px;
    font-size: 20px;
    flex-grow: 1;
    width: 100%;
    font-family: 'Geologica', sans-serif;
}

button:hover {
    background: rgb(100, 100, 100);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

button:active, button:hover:active {
    background: rgb(50, 50, 50);
    border: 1px solid rgb(75, 75, 75);
    box-shadow: 0px 5px 2px 0 rgba(0, 0, 0, 0.5), 0px 0px 5px 0 rgb(75, 75, 75) inset;
}

div.loading {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: end center;

    & img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    & button {
        z-index: 1;
        width: fit-content;
        margin-bottom: 50px;
    }
}

div.loading.loaded {
    transition-duration: 2s;
    transition-delay: .5s;
    transition-timing-function: linear;
    opacity: 0;
    pointer-events: none;

    & button {
        transition-duration: .5s;
        opacity: 0;
    }
}

img.preload {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 10px;
    height: 10px;
}

div#foundGame {
    box-shadow: 0px 0px 10px 10px #55815c, 0px 0px 20px 5px black inset;
    border: none;
    background: #1c1a1e;
    padding: 0;
    gap: 0;
    overflow: hidden;

    & div.title {
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 5px 0 black;
        padding: 15px 35px;

        & h2, & h1 {
            text-align: center;
            text-transform: uppercase;
            font-family: 'Geologica', sans-serif;
            margin: 0;
            padding: 0;
        }

        & h2 {
            color: gray;
            font-weight: 300;
        }

        & h1 {
            letter-spacing: 5px;
        }
    }

    & button {
        width: fit-content;
        margin: 40px 0;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;
        padding: 10px 20px;
        box-shadow: none;

        border: 2px solid;
        border-top-color: rgba(200, 200, 200, 0.15);
        border-left-color: rgba(200, 200, 200, 0.15);
        border-bottom-color: rgba(15, 15, 15, 0.25);
        border-right-color: rgba(15, 15, 15, 0.25);
        background: radial-gradient(ellipse at center, hsl(153, 22%, 35%), hsl(152, 23%, 13%));
        background-blend-mode: overlay;
        background-origin: border-box;
        background-clip: border-box;
    }

    & button:hover {
        background: radial-gradient(ellipse at center, hsl(153, 22%, 45%), hsl(152, 23%, 23%));
    }

    & button:active {
        background: radial-gradient(ellipse at center, hsl(153, 22%, 25%), hsl(152, 23%, 3%));
    }
}